<div li-block="Accordion">
                    
                  
                    <div class="product-details_component">
                    <div class="product-details_accordion">
                      <div data-w-id="2969e380-2150-9997-d689-aeae7eb2c6a8" class="product-details_question">
                        <div li-object:text="Accordion Heading" class="product-details_heading">
{{ Accordion Heading }}
</div>
                        <div class="product-details_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div class="product-details_answer">
                        <div class="margin-bottom margin-small">
                          <div class="max-width-large">
                            <div li-object:richtext="Accordion text" class="text-rich-text w-richtext" richtext="{{ Accordion text }}">
                              <p>The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                
                </div> {% schema %} {
    "name": "Accordion",
    "settings": [],
    "presets": [
        {
            "name": "Accordion"
        }
    ]
} {% endschema %}