<div li-block="Description">
                    
                  
                    <div class="product-header_description">
                    <div class="product-details_heading">Description</div>
                    <div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div>
                  </div>
                    
                
                </div> {% schema %} {
    "name": "Description",
    "settings": [],
    "presets": [
        {
            "name": "Description"
        }
    ]
} {% endschema %}