<div li-block="Warranty">
                    
                  
                    <div class="product-header_warranty">
                    <div class="product-details_heading">Warranty Information</div>
                    <div class="text-rich-text max-width-large w-richtext">
                      <ul role="list">
                        <li>Standard parts: 6 months (customer fitted)</li>
                        <li>12 months if parts are fitted by us</li>
                        <li>Tyres: 5 years from date of manufacture for all JCB branded tyres (JCB Sitemaster & JCB Earthmover)</li>
                        <li>Rubber Tracks: 12 months – Track Master Range (customer fitted), 18 months fitted by us.</li>
                      </ul>
                    </div>
                  </div>
                    
                
                </div> 
                
                
                {% schema %} {
    "name": "Warranty",
    "settings": [],
    "presets": [
        {
            "name": "Warranty"
        }
    ]
} {% endschema %}