<div li-block="Warranty">
                    
                  
                    <div class="product-header_warranty">
                    <div class="product-details_heading">Warranty Information</div>
                    <div class="text-rich-text max-width-large w-richtext">
                      <ul role="list">
                        <li>Standard parts: 6 months (customer fitted)</li>
                        <li>12 months if parts are fitted by us</li>
                        <li>Tyres: <a href="https://cdn.prod.website-files.com/669f7a0cea6090f2e754958c/68da68952e8d259b38f6557b_%5BAPI604CAE%5D%20JCB%20tyres-%20warranty%20period%20_%20JCB%20Service%20Pro.pdf" target="_blank">View here</a>
                        </li>
                        <li>Rubber Tracks: 12 months – Track Master Range (customer fitted), 18 months fitted by us.</li>
                      </ul>
                    </div>
                  </div>
                    
                
                </div> {% schema %} {
    "name": "Warranty",
    "settings": [],
    "presets": [
        {
            "name": "Warranty"
        }
    ]
} {% endschema %}