<div class="page-header_component">
          <div class="page-header_wrapper_short">
            <div class="padding-global">
              <div class="padding-vertical padding-large">
                <div class="w-layout-grid page-header_content">
                  <div data-w-id="80e094c6-f9c6-db3c-2862-24bc4f491084" class="page-header_content-left">
                    <h1 li-object="collection.title" class="text-color-white text-wrap">{{ collection.title }}</h1>
                    <div class="spacer-medium"></div>
                    <p>{{ collection.description }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-header_background-wrapper">
              <div class="overlay-layer_page-header"></div>{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: class: 'image', sizes: '(max-width: 1200px) 100vw, 1200px', data-w-id: '334dc999-6a1b-8320-8d65-6c6d350caac4', loading: 'eager' }}
{% else %}
 {{ 'detailed-apparel-1' | placeholder_svg_tag: 'image' }} 
{% endif %}
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Collection Hero",
    "class": "section_small-hero",
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Collection Hero",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "collection"
        ]
    }
} {% endschema %}