<div class="page-header_component">
          <div class="page-header_wrapper_short">
            <div class="padding-global">
              <div class="padding-vertical padding-large">
                <div class="w-layout-grid page-header_content">
                  <div data-w-id="bc6e83d4-8f1c-1ac5-0a0c-b0e22edbcfde" style="opacity:0" class="page-header_content-left">
                    <h1 li-object="page.title" class="text-color-white text-wrap">{{ page.title }}</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-header_background-wrapper">
              <div class="overlay-layer_page-header"></div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Page Hero",
    "class": "section_small-hero",
    "presets": [
        {
            "name": "Page Hero",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "page"
        ]
    }
} {% endschema %}